.alert {
	margin-top: 25px;
}

.back-red.view {
	color: white;
}

.crud-actions a {
	margin-right:5px;
}

.display_archive .campaign a {
	font-size: 15px;
	color: #363637;
	letter-spacing: 0.04em;
	margin-bottom: 120px;
	font-weight: normal;
}

.display_archive .campaign {
	font-weight: bold;
	font-size: 15px;
	height: 30px;
	font-family: 'Raleway', sans-serif;
}

.t-videos h4 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.t-videos {
	margin-bottom: 30px;
}
