/*!
 * Yamm!
 * Yet another megamenu for Bootstrap
 * http://geedmo.github.com/yamm
 *
 * https://github.com/geedmo
 */
.yamm.navbar {
  border-bottom: 4px solid #3c6c7e;
}
.yamm .nav,
.yamm .dropup,
.yamm .dropdown,
.yamm .collapse {
  position: static;
}
.yamm .navbar-inner,
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
  width: 100%;
  background: #003d4c;
  -webkit-shape-outside: polygon(0 82%, 100% 92%, 100% 0, 0 0);
  shape-outside: polygon(0 82%, 100% 92%, 100% 0, 0 0);
  -webkit-clip-path: polygon(0 82%, 100% 92%, 100% 0, 0 0);
  -webkit-shape-margin: 20px;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.yamm .dropdown-menu > li {
  display: block;
}
.yamm .dropdown-submenu .dropdown-menu {
  left: 100%;
}
.yamm .nav.pull-right .dropdown-menu {
  right: 0;
}
.yamm .yamm-content {
  padding: 10px 0px 124px;
  *zoom: 1;
}
.yamm .yamm-content:before,
.yamm .yamm-content:after {
  content: " ";
  display: table;
}
.yamm .yamm-content:after {
  clear: both;
}
.yamm .yamm-content:before,
.yamm .yamm-content:after {
  display: table;
  content: "";
  line-height: 0;
}
.yamm .yamm-content:after {
  clear: both;
}
.yamm .yamm-content.hidden {
  display: none;
}
.yamm .yamm-content:before,
.yamm .yamm-content:after {
  content: " ";
  display: table;
}
.yamm .yamm-content:after {
  clear: both;
}
.yamm .yamm-content:before,
.yamm .yamm-content:after {
  display: table;
  content: "";
  line-height: 0;
}
.yamm .yamm-content:after {
  clear: both;
}
.yamm .yamm-content.hidden {
  display: none;
}
.yamm.navbar .nav > li > .dropdown-menu:after,
.yamm.navbar .nav > li > .dropdown-menu:before {
  display: none;
}
.yamm .dropdown.yamm-fullwidth .dropdown-menu {
  width: 100%;
  left: 0;
  right: 0;
}
@media (max-width: 969px) {
  .yamm .dropdown.yamm-fullwidth .dropdown-menu {
    width: auto;
  }
  .yamm .yamm-content {
    padding-left: 0;
    padding-right: 0;
  }
  .yamm .dropdown-menu > li > ul {
    display: block;
  }
}
